#purple {
    background-color: #a9a6c9;
}

#expandIcon {
    color: white;
    float: right;
    right: 0;
    margin-bottom: 5px;
    transition: all .2s ease-in-out;
}

#expandIcon:hover {
    transform: scale(1.3);
}

#tableContainer {
    height: 200px;
    overflow-y: auto;  /* or auto */
}

#tableContainer::-webkit-scrollbar:active{
    display: block;
  }

#tableContainer::-webkit-scrollbar-thumb {
    background: #d5d3eb;
  }

#tableContainer::-webkit-scrollbar-thumb:hover {
    background: #a9a6c9; 
  }


.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.ui.modal, .ui.active.modal {
    margin: 0 auto!important;
    top: auto !important;
    left: auto !important;
    transform-origin: center !important;
    transition: all ease .5s;
  }

.hover:hover {
    background: #eae9f5;
    cursor: pointer;
  }