a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}
.button {
    display: inline-block;
    text-align: center;
    border-radius: 4px; 
    background-color: #9fb8bf;
    padding-top: 2px;
    margin: 10px auto;
    color: white;   
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
    font: inherit;
    font-weight: bold;
    width: 200px;
    height: 40px;
}