a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}
.button {
    display: inline-block;
    margin: 10px 10px;
    text-align: center;
    border: 2px solid #8b9fa3;
    border-radius: 4px;    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
    font: inherit;
    font-weight: bold;
    width: 200px;
    height: 40px;
}