    #card1 {        
        margin-left: 17px!important ;        
    } 

    #card2 {
        margin-left: 17px!important ;        
    } 
    
    #cardRow {       
        background-color: #abc5cb;         
        max-height: 100%; 
        width: 100%;   
    }

    #cardwrapper {
        margin: 12%;        
        width: 100%; 
        height: 100%;       
    }

    
    

    