#eventHeader {
    color:#a9a6c9;
    font-weight: 400;
    font-family: "source Sans Pro", sans-serif;
    font-size: 60px;
    padding: 40px;
}

#vendorHeader {
    color:#a9a6c9;
    font-weight: 300;
    font-family: "source Sans Pro", sans-serif;
    font-size: 25px;    
    margin-top: 60px;
    padding-top: 80px;;    
}

#column1 {
    margin: 40px;
    margin-left: 45px;
    width: 80%;
    padding-bottom: 40px;
}

#column2 {
    margin: 40px;    
}

form {
    margin-top: 25px;
    margin-bottom: 25px;
    
}

#searchIcon {
    color:#a9a6c9;
}

#eventCard {
    margin-top: 60px;          
}


