#eventHeader {
    color:#908db3 !important;
    font-weight: 300 !important;
    font-family: "source Sans Pro", sans-serif;
    font-size: 45px !important;
    letter-spacing: 10px;
    padding: 0px;
    text-align: center;
}

#vendorHeader {
    color:#908db3 !important;
    font-weight: 300 !important;
    font-family: "source Sans Pro", sans-serif;
    font-size: 45px !important;
    letter-spacing: 10px;
    padding: 0px;
    text-align: center;
}

#column1 {
    margin: 40px;
    margin-left: 45px;
    width: 80%;
    padding-bottom: 40px;
    height: 50vh !important;
}

#column2 {
    /* margin: 40px 40px !important;   */
    width: 95%;
    background-color: rgb(255,255,255, 0.6); 
    margin-top: 40px !important;
}

form {
    margin-top: 25px;
    margin-bottom: 25px;
    
}

#searchIcon {
    color:#a9a6c9;
}

#eventCard {
    margin-top: 20px;          
}

#segment {
    padding: 0 !important;
}

@media only screen and (max-width: 900px) {
    #vendorHeader {
        font-size: 32px !important;
        letter-spacing: 1px;
    }
    #segment {
        margin-top: 80px !important;
    }
}

@media only screen 
and (max-device-width: 700px) 
and (-webkit-min-device-pixel-ratio: 1)  
and (orientation: landscape)  {
    #segment {
        margin-top: 190px !important;
    }
}



