#column2  {    
    margin-top: 70px;
    width: 80%;       
    padding-bottom: 80px;    
    margin-left: 150px;
}

#eventHeader {
    color:#a9a6c9;
    font-weight: 400;
    font-family: "source Sans Pro", sans-serif;
    font-size: 30px
}

#searchIcon {
    color:#a9a6c9;
}

form {
    margin-top: 25px;
    margin-bottom: 25px;;
}

#eventName {    
    font-family: "source Sans Pro", sans-serif;
    font-size: 30px;
    padding-top: 30px;
}

.eventCardContent {
    font-size: 20px;
}

