a {
  text-decoration: none;
  color: gray;
}
/* 
olive #C8CCAA
blue #ACC6CD
purple #ABA7CA
pink #C7A7C6 */

.ext {
  padding-top:50px;
}

#return {
  color:#ABA7CA;
  position: fixed;
  bottom: 15px;
  left: 15px;
}

@keyframes mymove {
  0% {
    color: #C7A7C6;
  }
  50% {
    color: #ABA7CA;
  }
  100% {
    color: #C7A7C6;
  }
}

a:hover {
    color:#ACC6CD;
}
