#logo {
    margin-left: 30%;
    width: 40%;
}

#formContainer {
    width: 80%;
    margin-left: 10%;
    padding: 2% 0;
}

#container {
    width: 65%;
    top: -70px;
}

#outerContainer {
    margin: 0;
    padding-top: 0;
}
